article > img {
    width: 100%;
    display: inline-block;
}

img#current {
    width: 100%;
    max-width: 160px;
}

span {
    width: 100%;
    display: inline-block;
    font-size: 3.125vw;
}

span#p {
    font-size: calc(80% + 0.5vw)
}

span#c {
    font-size: calc(60% + 0.25vw)
}

article {
    width: 32.5%;
    max-width: 140px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
}

h2 {
    border: solid 1px #333;
    padding: 2px;
    padding-left: 10px;
    font-size: calc(85% + 0.7vw)
}

section {
    clear: both;
}